<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="namoo.security.exam.mybatis.UserMapper">

    <resultMap id="userMap" type="User">
        <id column="USER_ID" property="userId" />
        <result column="USER_PASSWORD" property="userPassword" />
        <result column="USER_NAME" property="userName" />
    </resultMap>

    <select id="selectUserByUserId" parameterType="string" resultMap="userMap">
	    SELECT USER_ID, USER_PASSWORD, USER_NAME
	    FROM BASIC_USER
	    WHERE USER_ID = #{userId}
    </select>
    
</mapper>
